{# templates/checklist/checklist_panel.html #}
<div class="checklist-panel">
  <h4>Checklist</h4>

  {% with instance=panel.instance %}
    {% if instance.checklist_items.exists %}
      <ul class="checklist-items">
        {% for item in instance.checklist_items.all %}
          <li>
            <label>{{ item.title }}</label>
            <input type="checkbox" {% if item.is_done %}checked{% endif %} disabled>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="help">No checklist items</p>
    {% endif %}
  {% endwith %}
</div>
